{
  "plugins": ["node"],
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true
    }
  },
  "rules": {
    "semi": 2,
    "node/no-unsupported-features": [2, { "version": 6 }],
    "node/no-unpublished-require": 0
  },
}
